services: 
  slip-gaji-fe:
    image: node:20
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    working_dir: /app
    stdin_open: true
    tty: true
    command: sh -c "npm install && npm run dev"