@import './base.css';

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  max-width: none;
  padding: 0;
  font-weight: normal;
}

/* Hapus centering & grid global di desktop */
@media (min-width: 1024px) {
  body {
    display: block;         /* jangan flex + place-items */
  }
  #app {
    display: block;         /* tidak jadi grid 2 kolom */
    padding: 0;             /* kalau mau benar-benar full */
  }
}

/* link style tetap */
a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
@media (hover:hover) {
  a:hover { background-color: hsla(160, 100%, 37%, 0.2); }
}
